
        /* CSS Reset */


        body {
            font-family: 'Baloo Bhai 2', sans-serif;
            color: black;
            margin: 0px;
            padding: 0px;


        }



        .pic1 {
            background-image: url("/html/abs-1850926_1920.jpg");
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            background-size: cover;
            background-position: center center;
            min-height: 100%;
            background-attachment: fixed;


        }




        .left {
            /* border: 2px solid red; */
            display: inline-block;
            position: absolute;
            left: 45px;
            top: 22px;
            text-align: center;
        }

        .left img {
            width: 60px;
            filter: invert(100%);


        }

        .left div {
            line-height: 19px;
            font-size: 20px;
            text-align: center;
            font-family: 'Baloo Bhai 2', sans-serif;
        }

        .mid {
            display: block;
            width: 33%;
            margin: 22px auto;
            border: 2px solid aqua;


        }

        .right {
            /*  border: 2px solid yellow; */
            display: inline-block;
            position: absolute;
            right: 34px;
            top: 22px;
        }

        .navbar {
            display: inline-block;
        }

        .navbar li {
            display: inline-block;
            font-size: 20px;

        }

        .navbar li a {
            color: red;
            text-decoration: none;
            padding: 10px 10px;
        }

        .navbar li a:hover,
        .navbar li a.active {
            text-decoration: underline;
            color: blue;

        }

        .btn {
            font-family: 'Baloo Bhai 2', sans-serif;
            margin: 0px 9px;
            background-color: black;
            color: white;
            padding: 4px 14px;
            border: 2px solid grey;
            border-radius: 10px;
            cursor: pointer;
        }

        .container {
            border: 2px solid green;
            margin: 40px 24px;
            padding: 6px;
            border-radius: 28px;
            width: 40%;

        }

        .form-group input {
            text-align: center;
            display: block;
            width: 400px;
            padding: 10px;
            border: 2px solid black;
            margin: 8px auto;
            font-size: 25px;
            border-radius: 33px;
            font-family: 'Baloo Bhai 2', sans-serif;
        }

        .form-group label {
            text-align: center;
            display: block;
            width: 400px;
            padding: 10px;
            border: 2px solid black;
            margin: 8px auto;
            font-size: 25px;
            border-radius: 33px;
            font-family: 'Baloo Bhai 2', sans-serif;
        }

        .container h1 {
            text-align: center;
        }

        .container button {
            display: block;
            width: 50%;
            margin: auto;

        }